.menu {
  &:not(:last-child) {
    @apply md:mr-10;
  }
  .icon {
    @apply flex relative w-7 h-5 md:hidden;

    >span {
      @apply block absolute h-0.5 w-full bg-current transform duration-500 ease-in-out transition-all;

      &:first-child {
        top: 0;
      }
      &:nth-child(2) {
        @apply top-1/2 -translate-y-1/2;
      }
      &:last-child {
        bottom: 0;
      }
    }
    &.icon_active {
      >span {
        &:first-child {
          top: calc(50% - 1px);
          transform: rotate(-45deg);
        }
        &:last-child {
          bottom: calc(50% - 1px);
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          @apply w-0;
        }
      }
    }
  }

  .body {
    @apply hidden static w-full h-full md:flex;
  }
}

.list {
  @apply flex flex-col md:flex-row;
  
  li {
    &:not(:last-child) {
      @apply mb-8 md:mr-8 md:mb-0;
    }
    
    .link {
      @apply text-2xl md:text-lg hover:opacity-70 transition-opacity;
    }
  }
}