@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


html,
body {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 400;

	@apply bg-slate-900;

	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

// :root {
// 	--primary-color: #e30b13;
// }

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
	@apply cursor-pointer focus:outline-none;
}

input:focus {
	box-shadow: none !important;
}
